.info {
 width: 60%;
 margin: auto;
 padding: 20px;
 background-color: #DABC94;
}
body {
 background-image: url(https://th.bing.com/th/id/OIP.OhaoZQNA0TlEKOc0qLpYqgHaE7?w=285&h=189&c=7&r=0&o=5&pid=1.7);
 margin: 0;
 height: 100%
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 font-family: Georgia;
 padding: 20px;
}
h1, h2, p {
 text-align: center;
}
hr {
 height: 2px;
 background-color: #8B4513;
 border-color: #8B4513;
}