.info {
 width: 60%;
 margin: auto;
 padding: 20px;
 background-color: #DABC94;
}
body {
 background-image: url(https://thumbs.dreamstime.com/z/vertical-shot-muddy-river-rocks-green-parks-side-muddy-river-rocks-green-parks-254785693.jpg);
 margin: 0;
 height: 100%
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 font-family: Georgia;
 padding: 20px;
}
h1, h2, p {
 text-align: center;
}
hr {
 height: 2px;
 background-color: #8B4513;
 border-color: #8B4513;
}
